POSTGRES_DB=chancery
POSTGRES_USER=chancery
POSTGRES_PASSWORD=changeme
REDIS_PASSWORD=changeme
JWT_SECRET_KEY=changeme
DEBUG=true

TEST_POSTGRES_DB=chancery_test

SMTP_HOST=mailpit
SMTP_PORT=1025
MAIL_FROM=noreply@chancery.local
MAIL_ENABLED=true

CELERY_EAGER=false
